body{
    background-image: url(overlay.png), linear-gradient(45deg, #6E436C 0%, #4B4B8F 50%, #2A4584 100%); 
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}


.content{
    margin-top: 400px;
}

.content h1{
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}

a.carrd-link1{
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.2s;
    position: relative;
    margin-bottom: 200px;
}

a.carrd-link2{
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.2s;
    position: relative;
    margin-bottom: 200px;
}

.darker{
    color: rgb(12, 10, 10);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.cracks {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;  
    letter-spacing: 2px;  
    color: #cd1111; 
    text-transform: uppercase;
}

.twist {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #ac7dd8; 
    text-transform: uppercase;
    transform: rotate(-5deg);  
    display: inline-block; 
}

.scarrdtext1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #fd5f5f;
}

.scarrdtext2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #fd5f5f;
    text-transform: lowercase;
}

.twist-description {
    font-family: 'Bangers', cursive; 
    font-size: 35px;  
    color: #f08fc3; 
    text-transform: uppercase; 
    line-height: 1.6; 
    display: inline-block;
    transform: rotate(-5deg);  
    animation: twistAnimation 1s ease-in-out infinite; 
}

a.scarrd-link{
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.2s;
    position: relative;
    margin-bottom: 200px;
}

p{
    font-size: 21px;
    color: white;
    margin-top: 20px;
}

.big-text {
    font-size: 35px;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 50px;
    color: white;
    text-decoration: none;
}

.small-text {
    font-size: 23px;
    color: white;
    margin-top: -10px;
    text-decoration: none;
}

#main-wrapper{
    width:100%;
    max-width: 800px;
    height: 755px;
    background-color: rgb(29, 22, 71);
    margin:auto;
    margin-top: 60px;
}

#main-wrapper h1{
    color: white;
    margin: 10px 0;
    font-size: 45px;
}

.image-hover-box {
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 60px auto 0 auto;
    background-image: url('carrdbrowser.jpg'); 
    background-size: cover;
    background-position: center;
    transition: background-image 0.6s ease-in-out;
}

.image-hover-box:hover {
    background-image: url('scarrdbrowser.jpg'); 
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.box {
    width: 50%;
    height: 480px;
    /* margin: 0 20px 20px 0;  */
    padding: 0 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    position: relative;
    box-sizing: border-box;
}

.box img{
    max-width:100%;
    height:auto;
    padding:0 10px;
    box-sizing:border-box;
}

.box:hover{
    background-color: rgb(187, 54, 127);
}

.footer{
    color: white;
    font-size: 14px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.page-write-future-self .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;      
  margin-top: 0;      
  padding: 40px 20px;
  flex-wrap: nowrap;  
  width: 100%;
  max-width: 800px;
  margin:0 auto;
}

#write-future-self{
    text-align: center;
    width:100%;
    margin-bottom: 20px;
}

#write-future-self h2 {
    font-size: 50px;      
    margin-bottom: 25px;
    color: white;  
}

#write-future-self p {
    font-size: 22px;      
    line-height: 1.6;     
}


.editable-box {
    font-size: 20px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #f8f8f8;
    margin-bottom: 320px;
    margin-top:50px;
}

.hidden-words {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 30px;
    color: rgba(255, 0, 0, 0.8); 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    border-bottom: 2px dashed white; 
}

.back-link {
  position: fixed;       
  top: 20px;            
  left: 20px;            
  color: white;         
  font-size: 20px;       
  text-decoration: none; 
  background-color: rgba(0,0,0,0.5); 
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-link:hover {
  background-color: rgba(0,0,0,0.8);
}

a.send-box{
    font-weight: bold;
    font-size: 18px;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.2s;
    position: relative;
    margin-bottom: 200px;
}

a.send-box:hover {
    background-color: #45a049; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.choose-page {
    background-color: #282c34;
    color: white;
    padding: 50px;
    margin-top: 100px;
}

.choose-page h1 {
    font-size: 60px;
    margin-bottom: 15px;
    color: #f8f8f8;
}

.choose-page p {
    font-size: 30px;
    margin-top: 50px;
}

.choose-page .grid-section {
    padding: 50px 20px;
}

.choose-page .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0.8fr);
    gap: 20px;
    justify-content: center;
    margin: 0 70px;
}

.choose-page .grid-item {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
}

.choose-page .grid-item h2 {
    font-size: 30px;
    color: #333;
}


.choose-page .grid-item h2 a{
    text-decoration: none;
    color: #333;
}

.choose-page .grid-item p {
    font-size: 16px;
    color: #666;
}

.choose-page .grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.heal-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.mainheal-title {
    font-size: 48px;
    color: #fefefe;
    margin-bottom: 20px;
    margin-top: 400px;
}

.subtitle {
    font-size: 20px;
    color: #f1efef;
    margin-bottom: 40px;
}

.inhale-button-container {
    margin-bottom: 40px;
}

.inhale-button {
    display: inline-block;
    font-size: 22px;
    color: white;
    background-color: #4CAF50;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    line-height: 200px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.inhale-button:hover {
    background-color: #45a049;
}

.breathing-instructions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 220px;
}

.instruction {
    background-color: #b3d9e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.instruction h2 {
    font-size: 22px;
    color: #07130d;
    margin-bottom: 10px;
}

.instruction p {
    font-size: 16px;
    color: #666;
}

body.cheerup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    height: 1200px;
    margin: 0;
}

.cheerup-page h1 {
    font-size: 45px;
    color: #f9f57e;
    margin-bottom: 10px;
}

.cheerup-page p {
    font-size: 28px;
    color: #c0dc9b;
    margin-bottom: 40px;
}

.grid-section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    max-width:1200px;
    justify-content: center;
    width: 100%;
}

.grid-item2 {
    width:50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    margin-top: 3px;
}

.grid-item2:hover {
    background-color: #e159aa;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.grid-item2 p {
    font-size: 17px;
    color: #333;
    margin: 0;
}

footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; 
  display: flex;
  align-items: center; 
  justify-content: center;
}

