body {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    /*background-image: url(cat.jpg); 
    /*background-size: cover;*/
    object-fit: contain;
    margin: 0;
    padding: 0;
}

#bg{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bg img {
    width: 100%;
    height: 100%;
}

#container{
    width: 600px;
    height: 600px;
    top: 400px;
    border-radius: 50%;
    background-color: rgb(120, 7, 7, 0.7);
    transition: transform 2s ease-out;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}

#container button{
    width: 180px;
    height: 50px;
    position: absolute;
    left: 210px;
    top: 340px; 
    font-size: 18px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.greetingfromcat {
    font-size: 50px; 
    color: #fff350; 
    margin: 0;
    padding: 0;
    position: absolute;
    left: 100px; 
    top: 220px; 
    font-weight: bold; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.move{
    transform: translate(200px,0px);
}

.ball{
    animation: move 10s linear forwards;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    25% {
        transform: translate(200px, 150px);
        opacity: 1;
    }
    50% {
        transform: translate(-250px, 300px);
        opacity: 1;
    }
    75% {
        transform: translate(-200px, -150px);
        opacity: 1;
    }
    100% {
        transform: translate(400px,-300px);
        opacity: 0;
    }
}