body {
  margin: 0;
  background: #010a1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  position: relative;
  width: 2500px;
  height: 900px;
  background:#010a1e;
  overflow: hidden; 
}

.bubble {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  animation: rise 5s linear forwards;
  z-index: 2;
}

@keyframes rise {
  from {
    transform: translateY(0) scale(1);
    opacity: 0.8;
  }
  to {
    transform: translateY(-150px) scale(1.5);
    opacity: 0;
  }
}

#kid {
  position: absolute; 
  right: 20px;
  bottom: 20px;
  width: 300px;
  pointer-events: none;
  z-index: 1;
}

#music-btn {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 28px;
  cursor: pointer;
  color: white;
}






